

.open-sans-normal {
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: auto;
    font-style: normal;
    font-variation-settings:
      "wdth" 400;
  }

  nav{
    display: flex;
  }

  .nav-title {
    font-weight: 800;
    font-size: 45px;

  }
  .text-primary{
    color: rgb(255, 174, 0);
  }
  